[submodule "use-bdd/Frameworks/Kiwi"]
	path = use-bdd/Frameworks/Kiwi
	url = https://github.com/allending/Kiwi.git
[submodule "use-bdd/Frameworks/Tuneup"]
	path = use-bdd/Frameworks/Tuneup
	url = https://github.com/alexvollmer/tuneup_js.git
